body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px; /* увеличение высоты */
    border: none;
    border-radius: 12px; /* округление углов */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px; /* увеличение шрифта */
}

button:hover {
    background-color: #45a049;
}

/* Добавьте этот стиль, чтобы предотвратить проблемы с размерами */
button[type="submit"] {
    width: 100%;
    box-sizing: border-box;
}

button.submitting {
    background-color: #45a049; /* Измените цвет, если нужно */
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}