body.dark-mode {
    background-color: #2E2E2E; /* Dark background */
    color: #ffffff; /* Light text */
}

body.dark-mode .note {
    border-color: #555;
    background-color: #333;
    color: #fff;
}

body.dark-mode form label {
    color: #fff; /* Adjust label color in dark mode */
}

body.dark-mode form label[for="id_status"],
body.dark-mode form label[for="id_content"] {
    color: #ffcc00; /* Adjust specific label colors in dark mode */
}

body.dark-mode form input[type="text"],
body.dark-mode form textarea {
    color: #fff; /* Adjust text color in dark mode */
}

body.dark-mode form button {
    color: #000; /* Adjust button text color in dark mode */
}

body.dark-mode #toggle-dark-mode {
    background-color: #ffcc00; /* Yellow background */
    color: #000000; /* Dark text */
}

body.dark-mode #toggle-dark-mode:hover {
    background-color: #ffffff; /* White background on hover */
    color: #000000; /* Dark text on hover */
}