{% extends 'blocks/base.html' %}

{% load static %}

{% block content %}
    <h2>Создать новую идею</h2>
    <button id="toggle-idea-form" class="btn btn-success mb-3">+</button>
    <div id="idea-form-container" style="display: none;">
        <form method="post" action="{% url 'ideas' %}" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>

    <h3>Идеи</h3>
    {% if ideas.count > 0 %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for idea in ideas %}
                {% if idea.status == True %}
                    <div class="col">
                        <div class="card mb-3">
                            <div class="card-body" style="max-height: 200px; overflow-y: auto;">
                                <h5 class="card-title">{{ idea.content }}</h5>
                                <p class="card-text">{{ idea.time_create|date:"F d" }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>У нас нет идей</p>
    {% endif %}

    <script>
        document.getElementById('toggle-idea-form').addEventListener('click', function() {
            var formContainer = document.getElementById('idea-form-container');
            formContainer.style.display = (formContainer.style.display === 'none' || formContainer.style.display === '') ? 'block' : 'none';
        });
    </script>
{% endblock %}