{% extends 'blocks/base.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="section" id="section1">
  <h1>Идеи</h1>
  <p>Сохраните основные идеи, что пришли к вам в голову.</p>
</div>

<div class="section" id="section2">
  <h1>Рабочие заметки</h1>
  <p>Занесите ваши дела на доску сайта и распределите их статус выполнения по цветам.
    <br><br>Белый - без статуса.
    <br>Синий - в процессе выполнения.
    <br>Красный - не выполнен.
    <br>Зеленый - выполнен.</p>
</div>

<div class="section" id="section3">
  <h1>Списки</h1>
  <p>Создайте одиночные списки и запишите все дела в одной заметке.
    <br>Или создайте раздельные заметки и объедините их в одну категорию.<br>
    <br>Примеры: Кулинарные, для дел, покупок.</p>
</div>

<div class="section" id="section4">
  <h1>Конспекты</h1>
  <p>Здесь используется метод Корнелла.<br>
    <br>В поле тема запишите название книги.
    <br>В поле ключевые слова подметьте основные моменты.
    <br>Опишите выделенные слова.<br>Подведите итоги</p>
</div>

<div class="section" id="section5">
  <h1>Периодические</h1>
  <p>Создайте задачи которые необходимо выполнять с периодичностью:
    <br><br>Каждый понедельник, каждые будни, каждый день.</p>
</div>

<div class="section" id="section6">
  <h1>Планировщик</h1>
  <p>На стадии разработки</p>
</div>
{% endblock %}
