{% extends 'blocks/base.html' %}

{% load static %}

{% block content %}
    <h2>Создать новую заметку</h2>
    <button id="toggle-work-form" class="btn btn-success mb-3">+</button>

    <div class="form-container" id="work-form" style="display: none;">
        <form method="post" action="{% url 'works' %}" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
    </div>

    <h3>Рабочие заметки</h3>
    {% if content.count > 0 %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for el in content %}
                {% if el.status == True %}
                    <div class="col">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{el.title}}</h5>
                                <p class="card-text">{{el.time_create|date:"F d"}}</p>
                                <p class="card-text">{{el.content}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>У нас нет записей</p>
    {% endif %}

    <script>
        document.getElementById('toggle-work-form').addEventListener('click', function() {
            var formContainer = document.getElementById('work-form');
            formContainer.style.display = (formContainer.style.display === 'none' || formContainer.style.display === '') ? 'block' : 'none';
        });
    </script>
{% endblock %}